<html>
<head>
	<title>Registration App</title>
	<link rel="stylesheet" href="./css/register.css">
</head>
<body>
	<div class="container">
		$!message	
	<h3>Enter Details</h3>
	<form method="post" action="register">
		<div class="fields-container">
			<table>
			<tr>
			<td><label for="first_name">First Name</label></td>
			<td><input name="first_name" id="first_name" required/></td>
			</tr>
			<tr>
			<td><label for="last_name">Last Name</label></td>
			<td><input name="last_name" id="last_name" required/></td>
			</tr>
			<tr>
			<td><label for="phone_number">Phone Number</label></td>
			<td><input name="phone_number" id="phone_number" required/></td>
			</tr>
			<tr>			
			<td><label for="email">Email</label></td>
			<td><input name="email" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required/></td>
			</tr>
			<tr>
			<td><label for="password">Password</label></td>
			<td><input type="password" id="password" name="password" required/></td>
			</tr>
			<tr>
			<td><label for="confirm-password">Confirm password</label></td>
			<td><input type="password" id="confirm-password" name="confirm-password" required/></td>
			</tr>
			</table>
			<div><input class="submit-field" type="submit" value="Submit"></div>
		</div>
	</form>
	<div>Already registered? <a href="/RegistrationAppVelocity/login.vm"> Login</a></div>
	</div>
</body>
</html>